{% extends '_base.html' %}
{% block content %}

		<main class="devices">
	
			<div class="device-deck btnfos btnfos-4 animated drop">
					<div class="device-selection">
						<span>Bedroom</span>
						{% if lamp_status == 'On' %}
							<a class="link" href="http://192.168.0.5:5000/devices/lamp/off">Light</a>
							<span class='green'>{{ lamp_status }}</span>
						{% else %}
							<a class="link" href="http://192.168.0.5:5000/devices/lamp/on">Light</a>
							<span class='red'>{{ lamp_status }}</span>
						{% endif %}
						<span>GPIO 17</span>
					</div>
					<div class="device-selection">
						<span>Bedroom</span>
						{% if fan_status == 'On' %}
							<a class="link" href="http://192.168.0.5:5000/devices/fan/off">Fan</a>								
							<span class="red">{{ fan_status }}</span>
						{% else %}							
							<a class="link" href="http://192.168.0.5:5000/devices/fan/on">Fan</a>
							<span class="green">{{ fan_status }}</span>
						{% endif %}
						<span>GPIO 21</span>
					</div>
			</div>


			<div class="mt-20 btnfos btnfos-4 animated weeble drop device-card">
			<div class="card">
				<div class="switch">
					<div class="power-switch">
						<input id="power" type="checkbox" />
						<div class="button">
							<svg class="power-off">
								<use xlink:href="#line" class="line" />
								<use xlink:href="#circle" class="circle" />
							</svg>
							<svg class="power-on">
								<use xlink:href="#line" class="line" />
								<use xlink:href="#circle" class="circle" />
							</svg>
						</div>
					</div>
					<!-- SVG -->
					<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
						<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
							<line x1="75" y1="34" x2="75" y2="58"/>
						</symbol>
						<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
							<circle cx="75" cy="80" r="35"/>
						</symbol>

					</svg>
				</div>

				<div id="light" class="meta">
					<h2 id="current-device">Light</h2>
				</div>
				<div class="bulbs">
					<img id="bulb-on" src="{{ img_src }}" alt="Bulb On"/>
				</div>
		</div>
	</main>
{% endblock content %}


